body {
    background-image: linear-gradient(to right, rgb(86, 152, 160), pink);
    /* background-image: url(programin.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */

}

.name {
    text-align: center;
    word-spacing: 40px;
}

.box {
    /* border: 2px double rgb(129, 68, 87); */
    box-shadow: 10px 10px 10px rgb(231, 210, 214);
    border-radius: 40px;
    font-weight: 400;
    width: 300px;
    min-height: auto;
    text-align: center;

    /* float: center;  */
    margin-right: 20%;
    text-shadow: 5px 5px 5px grey;
    line-height: 80px;
}

.box>a {
    color: rgba(165, 42, 42, 0.7);
}

.a:hover {
    transform: scale(1.5);
}

.fix {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    background-color: white;
    border: 3px solid #50800c;
}