body {
    background-image: linear-gradient(to right, rgb(86, 152, 160), pink);
}

.name {
    text-align: center;
    word-spacing: 40px;
}

.box {
    border-radius: 40px;
    font-weight: 350;
    width: 600px;
    min-height: auto;
    margin-left: 20%;
    text-shadow: 5px 5px 5px grey;
    line-height: 80px;
}

.box>a {
    color: rgba(165, 42, 42, 0.7);
}

.fix {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    background-color: white;
    border: 3px solid #50800c;
}